---
downloads: ~/.ansible-downloads/

configure_dotfiles: yes
configure_terminal: yes
configure_ssh: yes
configure_osx: yes

dotfiles_repo: https://gitlab.com/gperdomor/dotfiles.git
dotfiles_repo_accept_hostkey: yes
dotfiles_repo_local_destination: ~/Dropbox/Development/GitLab/dotfiles
dotfiles_files:
  - .gitignore
  - .gitconfig
  - .osx

# SSH Config
ssh_known_hosts:
  - host: "github.com"
    key: "github.com,192.30.253.112 ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ=="
  - host: "gitlab.com"
    key: "gitlab.com,52.167.219.168 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBFSMqzJeV9rUzU4kWitGjeR4PWSa29SPqJ1fVkhtj3Hw9xjLVXVYrU9QlYWrOLXBpQ6KWjbjTDTdDkoohFzgbEY="

ssh_keys:
  - name: github
    host: github.com
    passphrase: ""
  - name: gitlab
    host: gitlab.com
    passphrase: ""

homebrew_installed_packages:
  # - ansible # Installed via Pip.
  - name: curl
    install_options: with-nghttp2
  - diff-so-fancy
  - docker-clean
  - git
  - go
  - mysql
  - node
  - openssl
  - postgresql
  - sqlite
  - ssh-copy-id
  - swiftenv
  - swiftlint
  - tree
  - vapor
  - watchman
  - yarn
  # - zsh
  # - zsh-completions
  # - gitlab-ci-multi-runner
  # - heroku
  # - openshift-cli

homebrew_taps:
  - homebrew/core
  - caskroom/cask
  - vapor/tap
  - kylef/formulae

homebrew_cask_appdir: /Applications
homebrew_cask_apps:
  - 1password
  - appcleaner
  # - araxis-merge
  - archiver
  - atom
  - cleanmymac
  - daisydisk
  - docker
  - dropbox
  # - google-backup-and-sync
  - github-desktop
  - google-chrome
  - gpgtools
  - iina
  # - imageoptim
  # - insomnia
  - kaleidoscope
  # - kitematic
  - knuff
  - launchrocket
  - ngrok
  - opera
  - parallels-desktop
  - p4merge
  - paw
  - pgadmin4
  # - postico
  - riot
  - sequel-pro
  # - sketch
  - skype
  - tower
  - transmission
  - vlc
  - vmware-fusion
  - vscode
  # - xscope

# See `geerlingguy.mas` role documentation for usage instructions.
mas_installed_apps:
  # - { id: 497799835, name: "Xcode" } # installed via 'xcode' role
  - { id: "441258766", name: "Magnet" }
  - { id: "409201541", name: "Pages" }
  - { id: "409203825", name: "Numbers" }
  - { id: "409183694", name: "Keynote" }
  - { id: "1176895641", name: "Spark" }
  - { id: "880001334", name: "Reeder" }
  - { id: "803453959", name: "Slack" }
  - { id: "1185488696", name: "Money" }
  # - { id: "523620159", name: "CleanMyDrive 2" }
  # - { id: 443987910, name: "1Password" }
  # - { id: "532423082", name: "Navicat Data Modeler Essentials" }

mas_email: gperdomor@gmail.com
mas_password: ""

osx_script: "~/.osx --no-restart"

# Install packages from other package managers.
# Note: You are responsible for making sure the required package managers are
# installed, eg. through homebrew.
gem_packages:
  # - name: bundler
  #   state: present # present/absent/latest, default: present
  #   version: "~> 1.15.1" # default: N/A
  - xcpretty
  - jazzy

npm_packages:
  # - name: webpack
  #   state: present # present/absent/latest, default: present
  #   version: "^2.6" # default: N/A
  # General Utilities
  - name: eslint
  # - name: prettier
  # Angular Related
  - name: typescript
  - name: typings
  - name: "@angular/cli"
  # React Related
  - name: create-react-app
  # Static Serve
  - name: localtunnel
  - name: serve

pip_packages: []
  # - name: mkdocs
  #   state: present # present/absent/latest, default: present
  #   version: "0.16.3" # default: N/A

vscode_packages:
  - Shan.code-settings-sync
  - robertohuertasm.vscode-icons
  - EditorConfig.EditorConfig
  - Tyriar.sort-lines
  # # - haaaad.ansible
  # # - felixrieseberg.vsc-travis-ci-status
  # # Extensions Packs
  # - johnpapa.angular-essentials
  # # Docker
  # - PeterJausovec.vscode-docker
  # # Go
  # - lukehoban.Go
  # # JS / Typescript
  # - eg2.tslint
  # - kisstkondoros.vscode-codemetrics
  # - dbaeumer.vscode-eslint
  # - esbenp.prettier-vscode
  # - msjsdiag.debugger-for-chrome
  # - flowtype.flow-for-vscode
  # # React
  # # - vsmobile.vscode-react-native

atom_packages:
  # General
  - sync-settings
  - editorconfig
  - sort-lines
  - highlight-selected
  # - prettier-atom
  # IDE
  - atom-ide-ui
  - ide-flowtype
  - ide-typescript
  # Themes
  - file-icons

# Glob pattern to ansible task files to run after all other tasks are finished.
post_provision_tasks: []
