"*":
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    projectHome: "/Users/gperdomor/Developer"
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "48e2be23-0d6b-4b96-9498-058104d635a3"
  "file-icons": {}
  "highlight-selected": {}
  "linter-ui-default":
    panelHeight: 69
  nuclide:
    "nuclide-flow":
      canUseFlowBin: true
  pigments:
    markerType: "native-dot"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    prettierOptions:
      singleQuote: true
    useEslint: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  welcome:
    showOnStartup: false
